.category-container {
  margin: 2rem 5rem;
  position: relative;
  border-radius: 5px;
}

.category-image {
  height: 70vh;
  width: 30vw;
  position: absolute;
  top: 1.5rem;
  left: 7rem;
}

.book-btn button {
  background-color: #2d235a;
  width: 200px;
  height: 54px;
  border-radius: 4px;
  opacity: 80%;
  color: var(--text-primary-color);
  cursor: pointer;
  margin: 2rem auto;
  font-size: 1.2rem;
}

/* !important - to override the css of react-slick-dots */
.slick-dots li button:before {
  font-size: 15px !important;
  position: absolute;
  top: -4rem !important;
}
.slick-dots li.slick-active button:before {
  color: #fff !important;
}
